<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart-Home Controls</title>
    <link rel="stylesheet" href="/style/file.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
</head>
<body>
    
</body>
</html>

<div class="head-box">
    <h1 class="text">Welcome</h1>
    <div class="header">
      <p class="text intro">Take Control of Your Devices</p>
    </div>
  </div>

    <div class="container">
        <div class="box">
                <label class="text" for="fan">Fan</label>
                   <svg class="icon fan" ="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="50" height="45" viewBox="0 0 256 256" xml:space="preserve"><defs></defs> <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" ><path d="M 45 40.408 c -3.505 0 -6.356 -2.851 -6.356 -6.356 s 2.851 -6.356 6.356 -6.356 s 6.355 2.851 6.355 6.356 S 48.505 40.408 45 40.408 z M 45 29.696 c -2.402 0 -4.356 1.954 -4.356 4.356 s 1.954 4.356 4.356 4.356 c 2.401 0 4.355 -1.954 4.355 -4.356 S 47.401 29.696 45 29.696 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 52.014 58.862 c 2.05 -1.944 3.179 -4.571 3.179 -7.396 c 0 -1.837 -0.497 -3.639 -1.438 -5.211 c -0.919 -1.535 -1.576 -3.139 -1.959 -4.776 c 0.229 -0.209 0.448 -0.43 0.658 -0.662 c 1.602 0.37 3.165 1.019 4.654 1.932 c 1.883 1.154 4.052 1.655 6.275 1.449 c 4.984 -0.463 8.943 -4.588 9.208 -9.594 c 0.149 -2.829 -0.838 -5.516 -2.781 -7.565 c -1.944 -2.05 -4.571 -3.18 -7.396 -3.18 c -1.838 0 -3.64 0.497 -5.21 1.437 c -1.533 0.918 -3.138 1.576 -4.776 1.958 c -0.201 -0.219 -0.412 -0.43 -0.632 -0.631 c 0.383 -1.638 1.04 -3.242 1.959 -4.776 c 0.94 -1.571 1.438 -3.373 1.438 -5.21 c 0 -2.825 -1.129 -5.451 -3.18 -7.396 c -2.049 -1.943 -4.737 -2.936 -7.565 -2.781 c -5.006 0.265 -9.131 4.223 -9.595 9.208 c -0.207 2.223 0.294 4.393 1.45 6.275 c 0.913 1.488 1.562 3.051 1.932 4.655 c -0.231 0.209 -0.452 0.429 -0.662 0.657 c -1.639 -0.383 -3.243 -1.041 -4.777 -1.958 c -1.571 -0.94 -3.373 -1.437 -5.21 -1.437 c -2.825 0 -5.452 1.129 -7.396 3.18 c -1.943 2.049 -2.931 4.735 -2.781 7.565 c 0.265 5.007 4.224 9.131 9.208 9.594 c 2.223 0.208 4.392 -0.294 6.275 -1.449 c 1.489 -0.914 3.053 -1.563 4.655 -1.932 c 0.218 0.24 0.448 0.47 0.688 0.688 c -0.37 1.603 -1.019 3.166 -1.932 4.655 c -1.155 1.883 -1.656 4.053 -1.45 6.275 c 0.463 4.983 4.588 8.942 9.595 9.208 c 0.187 0.01 0.373 0.015 0.559 0.015 C 47.63 61.659 50.1 60.677 52.014 58.862 z M 36.844 52.251 c -0.166 -1.788 0.236 -3.533 1.164 -5.045 c 1.146 -1.869 1.924 -3.85 2.31 -5.889 c 0.069 -0.363 -0.068 -0.735 -0.357 -0.966 c -0.464 -0.372 -0.887 -0.795 -1.259 -1.259 c -0.192 -0.239 -0.48 -0.375 -0.78 -0.375 c -0.062 0 -0.124 0.006 -0.186 0.018 c -2.038 0.385 -4.02 1.162 -5.89 2.31 c -1.512 0.927 -3.256 1.331 -5.044 1.163 c -4.003 -0.372 -7.183 -3.686 -7.396 -7.708 c -0.121 -2.276 0.673 -4.437 2.235 -6.083 c 1.563 -1.648 3.675 -2.556 5.945 -2.556 c 1.476 0 2.922 0.399 4.183 1.153 c 1.908 1.142 3.921 1.925 5.983 2.326 c 0.365 0.074 0.737 -0.065 0.969 -0.354 c 0.362 -0.449 0.779 -0.863 1.239 -1.232 c 0.289 -0.231 0.426 -0.603 0.357 -0.966 c -0.386 -2.039 -1.163 -4.021 -2.31 -5.89 c -0.928 -1.511 -1.33 -3.255 -1.164 -5.044 c 0.373 -4.004 3.687 -7.183 7.709 -7.396 c 2.284 -0.117 4.437 0.673 6.083 2.235 c 1.648 1.563 2.556 3.674 2.556 5.945 c 0 1.476 -0.399 2.922 -1.154 4.183 c -1.143 1.91 -1.925 3.923 -2.325 5.983 c -0.07 0.363 0.065 0.736 0.353 0.969 c 0.447 0.361 0.854 0.769 1.213 1.212 c 0.233 0.288 0.601 0.425 0.97 0.354 c 2.063 -0.401 4.075 -1.184 5.983 -2.326 c 1.26 -0.754 2.706 -1.153 4.183 -1.153 c 2.271 0 4.382 0.908 5.945 2.556 c 1.562 1.646 2.355 3.807 2.234 6.083 c -0.212 4.022 -3.392 7.336 -7.396 7.708 c -1.785 0.167 -3.532 -0.235 -5.044 -1.163 c -1.87 -1.147 -3.853 -1.924 -5.89 -2.31 c -0.36 -0.069 -0.734 0.069 -0.966 0.356 c -0.368 0.459 -0.783 0.876 -1.232 1.24 c -0.288 0.232 -0.425 0.605 -0.354 0.969 c 0.4 2.061 1.183 4.073 2.325 5.983 c 0.755 1.262 1.154 2.708 1.154 4.184 c 0 2.271 -0.907 4.381 -2.556 5.944 c -1.647 1.563 -3.804 2.365 -6.083 2.235 C 40.531 59.434 37.217 56.254 36.844 52.251 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 79.053 34.052 C 79.053 15.276 63.776 0 45 0 S 10.948 15.276 10.948 34.052 c 0 15.881 10.929 29.255 25.66 33.003 l -6.383 10.814 h -1.771 c -3.345 0 -6.065 2.721 -6.065 6.065 S 25.108 90 28.453 90 h 33.094 c 3.345 0 6.066 -2.721 6.066 -6.065 s -2.722 -6.065 -6.066 -6.065 h -1.771 l -6.383 -10.814 C 68.124 63.307 79.053 49.933 79.053 34.052 z M 12.948 34.052 C 12.948 16.378 27.326 2 45 2 s 32.053 14.378 32.053 32.052 c 0 17.673 -14.379 32.052 -32.053 32.052 S 12.948 51.726 12.948 34.052 z M 65.613 83.935 c 0 2.241 -1.824 4.065 -4.066 4.065 H 28.453 c -2.242 0 -4.065 -1.824 -4.065 -4.065 s 1.824 -4.065 4.065 -4.065 h 2.343 h 28.409 h 2.343 C 63.789 79.869 65.613 81.693 65.613 83.935 z M 57.453 77.869 H 32.547 l 6.119 -10.365 c 2.054 0.388 4.169 0.6 6.334 0.6 c 2.165 0 4.281 -0.212 6.335 -0.6 L 57.453 77.869 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 56.876 84.935 h -5.01 c -0.553 0 -1 -0.447 -1 -1 s 0.447 -1 1 -1 h 5.01 c 0.553 0 1 0.447 1 1 S 57.429 84.935 56.876 84.935 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 47.505 84.935 h -5.01 c -0.552 0 -1 -0.447 -1 -1 s 0.448 -1 1 -1 h 5.01 c 0.553 0 1 0.447 1 1 S 48.058 84.935 47.505 84.935 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 38.134 84.935 h -5.01 c -0.552 0 -1 -0.447 -1 -1 s 0.448 -1 1 -1 h 5.01 c 0.552 0 1 0.447 1 1 S 38.687 84.935 38.134 84.935 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /></g>
                    </svg>
                <div class="add">
                    <form action="/devices" method="post">
                        <input class="inp" type="number" id="fan" min="0" max="5" name="value" placeholder="Current Speed - <%= datas.fan %>"> 
                        <br> <button class="btn rounded-pill px-3" type="submit" name="device" value="fan">Go</button>
                    </form>
                </div>
        </div>

        <div class="box">
            <label class="text">Air Conditioner</label>
            <svg class="icon ac" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="80" height="50" viewBox="0 0 256 256" xml:space="preserve">

                <defs>
                </defs>
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                    <path d="M 83.217 16.065 H 6.783 C 3.043 16.065 0 19.108 0 22.848 V 53.22 c 0 3.74 3.043 6.783 6.783 6.783 h 11.531 h 53.371 h 11.531 c 3.74 0 6.783 -3.043 6.783 -6.783 V 22.848 C 90 19.108 86.957 16.065 83.217 16.065 z M 19.314 58.003 v -2.93 H 66.14 c 0.553 0 1 -0.447 1 -1 s -0.447 -1 -1 -1 H 19.314 v -1.314 c 0 -0.89 0.725 -1.614 1.615 -1.614 H 69.07 c 0.891 0 1.615 0.725 1.615 1.614 v 6.244 H 19.314 z M 88 53.22 c 0 2.638 -2.146 4.783 -4.783 4.783 H 72.686 v -6.244 c 0 -1.993 -1.622 -3.614 -3.615 -3.614 H 20.929 c -1.993 0 -3.615 1.621 -3.615 3.614 v 6.244 H 6.783 C 4.146 58.003 2 55.857 2 53.22 V 22.848 c 0 -2.638 2.146 -4.783 4.783 -4.783 h 76.434 c 2.638 0 4.783 2.146 4.783 4.783 V 53.22 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 71.686 24.802 H 45 c -0.552 0 -1 -0.448 -1 -1 s 0.448 -1 1 -1 h 26.686 c 0.553 0 1 0.448 1 1 S 72.238 24.802 71.686 24.802 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 83.802 24.802 h -5.375 c -0.553 0 -1 -0.448 -1 -1 s 0.447 -1 1 -1 h 5.375 c 0.553 0 1 0.448 1 1 S 84.354 24.802 83.802 24.802 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 44.843 73.936 c -0.552 0 -1 -0.447 -1 -1 v -9.11 c 0 -0.553 0.448 -1 1 -1 s 1 0.447 1 1 v 9.11 C 45.843 73.488 45.396 73.936 44.843 73.936 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 54.844 73.936 c -0.553 0 -1 -0.447 -1 -1 v -9.11 c 0 -0.553 0.447 -1 1 -1 s 1 0.447 1 1 v 9.11 C 55.844 73.488 55.396 73.936 54.844 73.936 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 34.843 73.936 c -0.552 0 -1 -0.447 -1 -1 v -9.11 c 0 -0.553 0.448 -1 1 -1 s 1 0.447 1 1 v 9.11 C 35.843 73.488 35.396 73.936 34.843 73.936 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 69.155 73.936 c -0.135 0 -0.272 -0.027 -0.404 -0.086 c -3.168 -1.403 -4.819 -4.771 -4.907 -10.008 c -0.009 -0.552 0.431 -1.007 0.983 -1.017 c 0.006 0 0.012 0 0.017 0 c 0.545 0 0.99 0.437 1 0.983 c 0.073 4.39 1.324 7.152 3.718 8.213 c 0.505 0.224 0.732 0.814 0.509 1.319 C 69.905 73.714 69.539 73.936 69.155 73.936 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 20.844 73.936 c -0.384 0 -0.75 -0.222 -0.915 -0.595 c -0.224 -0.505 0.005 -1.096 0.51 -1.319 c 2.393 -1.06 3.644 -3.823 3.718 -8.213 c 0.01 -0.553 0.494 -0.958 1.017 -0.983 c 0.552 0.01 0.992 0.465 0.983 1.017 c -0.089 5.238 -1.74 8.605 -4.909 10.008 C 21.117 73.908 20.979 73.936 20.844 73.936 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                </g>
                </svg>
            <div class="add ac-box">
                <form action="/devices" method="post">
                    <% if(datas.ac.state===1){%>
                        <input type="radio" class="radio" name="state" value="1" checked="true">
                        <label>ON</label>
                        <input type="radio" class="radio" name="state" value="0">
                        <label>OFF</label> 
                   <% }else{ %>
                    <input type="radio" class="radio" name="state" value="1">
                    <label>ON</label>
                    <input type="radio" class="radio" name="state" value="0" checked="true">
                    <label>OFF</label>
                   <% } %>      
                    <br><input type="number" id="ac" min="17" max="30" name="value" placeholder="Temperauture : <%= datas.ac.temp %>">
                    <br><button class="btn acbtn rounded-pill px-3" type="submit" name="device" value="ac">Go</button>
                </form>
            </div>
        </div>

        <div class="box">
            <label class="text" for="fan">Bulb</label>
            <svg class="icon bulb" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="50" height="40" viewBox="0 0 256 256" xml:space="preserve">

                <defs>
                </defs>
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                    <path d="M 60.364 54.569 v -0.693 c 0 -3.176 1.29 -6.24 3.634 -8.628 c 4.911 -5.005 7.615 -11.623 7.615 -18.635 c 0 -7.349 -3.083 -14.441 -8.458 -19.458 c -5.45 -5.086 -12.561 -7.6 -20.042 -7.089 C 30.043 0.967 19.692 11.081 18.501 24.113 c -0.701 7.68 1.924 15.271 7.203 20.827 c 2.536 2.668 3.932 6.084 3.932 9.619 c 0 1.48 0.631 2.808 1.629 3.753 c -1.531 0.807 -2.589 2.396 -2.589 4.245 c 0 1.56 0.758 2.935 1.911 3.815 c -1.154 0.881 -1.911 2.255 -1.911 3.815 c 0 2.521 1.953 4.572 4.422 4.777 c -0.595 0.801 -0.96 1.783 -0.96 2.855 c 0 2.567 2.025 4.653 4.559 4.789 C 37.182 86.763 40.718 90 45 90 s 7.819 -3.237 8.304 -7.391 c 2.533 -0.137 4.558 -2.222 4.558 -4.789 c 0 -1.072 -0.364 -2.054 -0.96 -2.855 c 2.468 -0.204 4.421 -2.255 4.421 -4.777 c 0 -1.56 -0.758 -2.935 -1.911 -3.815 c 1.154 -0.881 1.911 -2.255 1.911 -3.815 c 0 -1.844 -1.053 -3.43 -2.578 -4.239 c 0.032 -0.03 0.07 -0.052 0.101 -0.083 C 59.825 57.256 60.364 55.954 60.364 54.569 z M 27.155 43.562 c -4.882 -5.138 -7.311 -12.161 -6.661 -19.268 c 1.1 -12.049 10.671 -21.4 22.758 -22.234 C 43.844 2.02 44.433 2 45.019 2 c 6.263 0 12.163 2.315 16.772 6.617 c 4.971 4.64 7.822 11.2 7.822 17.997 c 0 6.485 -2.501 12.605 -7.043 17.234 c -2.712 2.764 -4.206 6.326 -4.206 10.029 v 0.693 c 0 0.851 -0.331 1.649 -0.933 2.251 c -0.574 0.574 -1.331 0.892 -2.139 0.92 h -4.581 V 46.653 c 0 -5.01 2.063 -9.885 5.658 -13.375 c 0.396 -0.385 0.406 -1.018 0.021 -1.414 c -0.386 -0.396 -1.018 -0.406 -1.414 -0.021 c -3.982 3.864 -6.266 9.262 -6.266 14.81 V 57.74 h -7.424 V 46.653 c 0 -5.549 -2.284 -10.947 -6.265 -14.81 c -0.396 -0.384 -1.029 -0.375 -1.414 0.021 c -0.384 0.396 -0.375 1.029 0.021 1.414 c 3.596 3.489 5.658 8.363 5.658 13.375 V 57.74 h -4.472 c -1.753 -0.001 -3.18 -1.428 -3.18 -3.182 C 31.636 50.509 30.044 46.604 27.155 43.562 z M 45 88 c -3.169 0 -5.796 -2.33 -6.278 -5.365 h 12.557 C 50.797 85.67 48.169 88 45 88 z M 53.046 80.635 H 36.954 c -1.553 0 -2.816 -1.263 -2.816 -2.815 s 1.263 -2.815 2.816 -2.815 h 16.092 c 1.553 0 2.815 1.263 2.815 2.815 S 54.599 80.635 53.046 80.635 z M 59.323 70.188 c 0 1.553 -1.263 2.816 -2.815 2.816 h -3.462 H 36.954 h -3.462 c -1.553 0 -2.816 -1.264 -2.816 -2.816 s 1.263 -2.815 2.816 -2.815 h 23.016 C 58.061 67.372 59.323 68.635 59.323 70.188 z M 56.508 59.74 c 1.553 0 2.815 1.264 2.815 2.816 s -1.263 2.815 -2.815 2.815 H 33.492 c -1.553 0 -2.816 -1.263 -2.816 -2.815 s 1.263 -2.816 2.816 -2.816 h 1.323 l 20.364 0.011 c 0.002 0 0.003 0 0.005 0 c 0.037 0 0.073 -0.01 0.11 -0.011 H 56.508 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                </g>
            </svg>           
            <div class="add">
                <form action="/devices" method="post">
                    <% if(datas.bulb===1){%>
                        <input type="radio" class="radio" name="value" value="1" checked="true">
                        <label>ON</label>
                        <input type="radio" class="radio" name="value" value="0">
                        <label>OFF</label> 
                   <% }else{ %>
                    <input type="radio" class="radio" name="value" value="1">
                    <label>ON</label>
                    <input type="radio" class="radio" name="value" value="0" checked="true">
                    <label>OFF</label>
                   <% } %>
                    
                    <br><br><button class="btn rounded-pill px-3" type="submit" name="device" value="bulb">Go</button>
                </form>
            </div>
        </div>

        <div class="box">
            <label class="text" for="led">LED</label>
            <svg class="icon led" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="50" height="35" viewBox="0 0 256 256" xml:space="preserve">

                <defs>
                </defs>
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                    <path d="M 40.667 31 h 6.657 c 0.553 0 1 -0.448 1 -1 s -0.447 -1 -1 -1 h -5.657 v -4.581 h 3.639 c 0.552 0 1 -0.448 1 -1 s -0.448 -1 -1 -1 h -3.639 v -4.58 h 5.657 c 0.553 0 1 -0.448 1 -1 s -0.447 -1 -1 -1 h -6.657 c -0.552 0 -1 0.448 -1 1 V 30 C 39.667 30.552 40.115 31 40.667 31 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(234,231,149); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 28.137 30.674 h 5.546 c 0.552 0 1 -0.448 1 -1 s -0.448 -1 -1 -1 h -4.546 V 17.165 c 0 -0.552 -0.448 -1 -1 -1 s -1 0.448 -1 1 v 12.509 C 27.137 30.227 27.584 30.674 28.137 30.674 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(234,231,149); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 53.694 31 h 5.331 c 2.116 0 3.838 -1.722 3.838 -3.837 v -7.486 c 0 -2.116 -1.722 -3.837 -3.838 -3.837 h -5.331 c -0.553 0 -1 0.448 -1 1 V 30 C 52.694 30.552 53.142 31 53.694 31 z M 54.694 17.839 h 4.331 c 1.014 0 1.838 0.824 1.838 1.837 v 7.486 c 0 1.013 -0.824 1.837 -1.838 1.837 h -4.331 V 17.839 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(234,231,149); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path d="M 45 0 C 29.367 0 16.649 12.718 16.649 28.351 c 0 3.677 0.71 7.279 2.111 10.706 c 0.644 1.574 1.397 3.049 2.241 4.386 c 4.584 7.268 7.409 15.295 8.168 23.212 c 0.163 1.702 1.474 3.007 3.127 3.221 v 9.084 v 4.646 c 0 3.526 2.869 6.395 6.395 6.395 H 51.31 c 3.526 0 6.395 -2.868 6.395 -6.395 V 78.96 v -9.084 c 1.653 -0.214 2.964 -1.519 3.126 -3.221 c 0.76 -7.917 3.584 -15.943 8.169 -23.212 c 0.844 -1.337 1.598 -2.813 2.24 -4.386 c 1.401 -3.426 2.111 -7.028 2.111 -10.706 C 73.351 12.718 60.633 0 45 0 z M 45 2 c 14.529 0 26.351 11.821 26.351 26.351 c 0 3.196 -0.577 6.33 -1.718 9.328 H 20.367 c -1.14 -2.998 -1.717 -6.132 -1.717 -9.328 C 18.649 13.821 30.47 2 45 2 z M 55.704 77.96 H 34.296 v -8.04 h 21.408 V 77.96 z M 55.704 83.605 c 0 2.423 -1.972 4.395 -4.395 4.395 H 38.691 c -2.423 0 -4.395 -1.972 -4.395 -4.395 V 79.96 h 21.408 V 83.605 z M 67.308 42.375 c -4.751 7.533 -7.679 15.862 -8.468 24.089 c -0.079 0.829 -0.77 1.455 -1.605 1.455 h -0.53 H 33.296 h -0.53 c -0.836 0 -1.526 -0.626 -1.605 -1.456 c -0.789 -8.227 -3.717 -16.557 -8.468 -24.088 c -0.531 -0.841 -1.024 -1.745 -1.474 -2.697 h 47.564 C 68.332 40.63 67.839 41.534 67.308 42.375 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(234,231,149); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                </g>
                </svg>
            <div class="add">
                <form action="/devices" method="post">
                    <input type="color" id="led" name="color" value="<%= datas.led %>">
                    <br><br><button class="btn rounded-pill px-3" type="submit" name="device" value="led">Go</button>
                </form>
            </div>
        </div>
    </div>
